.write-post-page-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    /* py-8 */
    padding-bottom: 2rem;
}

.write-post-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 960px;
    /* max-w-[960px] */
    padding-left: 1rem;
    /* px-4 md:px-20 lg:px-40 basically we just add responsive padding */
    padding-right: 1rem;
}

@media (min-width: 768px) {
    .write-post-content-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}