spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/infoshare?serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    password: password
  output:
    ansi:
      enabled: ALWAYS

mybatis:
  mapper-locations: classpath:mapper/**/*.xml
  type-aliases-package: com.infoshare.domain
  configuration:
    map-underscore-to-camel-case: true

server:
  port: 8080

spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

file:
  upload-dir: C:/infoshare_uploads/
